services:
  web:
    image: topolek/mama_care_box:0.0.3
    ports:
      - "9000:9000"
    env_file:
      - .env-non-dev
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "sleep 5 && alembic upgrade head && gunicorn -w 1 -k uvicorn.workers.UvicornWorker main:app --bind 0.0.0.0:9000"
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

  db:
    image: postgres:16
    env_file:
        - .env-non-dev
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 512M

volumes:
  db_data:


networks:
  app-network:
    driver: bridge
